
<%- include('common/header.ejs') %>     

<div id="carouselExampleSlidesOnly" class="carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <% for (let i = 0; i < banner.length; i++) { %>
      <div class="carousel-item <%= i === 0 ? 'active' : '' %>" data-bs-interval="2000">
        <img src="/static/images/category/productbanner/<%= banner[i].product_banner %>" class="d-block w-100" alt="...">
      </div>
    <% } %>
  </div>
</div>

<!-- Multi-carousel -->
<div class="container text-center my-5">
  <h1 class="fw-bold fcolor py-4 lulu">HOT PRODUCTS</h1>
  <div class="row mx-auto my-auto justify-content-center">
    <div id="recipeCarousel" class="carousel slide ala" data-bs-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <% for (let i = 0; i < pc.length; i++) { %>
          <div class="carousel-item <%= i === 0 ? 'active' : '' %>" data-bs-interval="2000">
            <div class="col-md-3 lol">
              <a href="/product/<%= pc[i].product_category %>/<%= pc[i].product_id %>" class="text-decoration-none text-light">
                <div class="card bg-transparent border border-0">
                  <div class="card-img">
                    <% var imgg = pc[i].product_image.split(',') %>
                    <img src="/static/images/category/product/<%= imgg[0].trim() %>" alt="" class="img-fluid">
                  </div>
                  <div class="card-body text-light">
                    <h5><%= pc[i].product_name %></h5>
                    <span class="text-light star fs-4"></span>
                    <p class="fw-bold"> ₹<%= pc[i].product_price %> <del class="text-body">₹<%= pc[i].orignal_price %></del></p>
                  </div>
                </div>
              </a>
            </div>
          </div>
        <% } %>
      </div>
      <a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </a>
      <a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </a>
    </div>
  </div>
</div>

<!-- Left Filter List -->
<div class="container">
  <div class="row justify-content-evenly">
    <div class="col-lg-3 border border-success rounded-2 bg-black">
      <button class="btn accordion-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#acco" aria-controls="acco" aria-expanded="true">
          <h2 class="ps-3 fw-bold fcolor pt-2">FILTER <img src="/static/down.png" alt=""></h2>
      </button>
      <div class="collapse accordion-collapse show" id="acco">
          <div class="card bg-black text-light py-0">
              <a class="text-decoration-none border-0" data-bs-toggle="collapse" href="#collapseOne">
                  <div class="card-header border border-success rounded-2 form-select">
                      <h6 class="fw-bold my-0 fcolor">Keywords</h6>
                  </div>
              </a>
              <div id="collapseOne" class="collapse show" data-bs-parent="#accordion">
                  <div class="card-body">
                      <input type="search" class="bg-dark w-100 text-light rounded-2 searchInput">
                  </div>
              </div>
          </div>
          <div class="card bg-black text-light py-0">
              <a class="collapsed text-decoration-none" data-bs-toggle="collapse" href="#collapseTwo">
                  <div class="card-header border border-success rounded-2 form-select">
                      <h6 class="fw-bold px-4 fcolor">Brands</h6>
                  </div>
              </a>
              <div id="collapseTwo" class="collapse show" data-bs-parent="#accordion">
                  <div class="card-body px-3 py-0">
                      <% ['RAZER', 'CORSAIR', 'HYPER X', 'STEELSERIES', 'RYZEN', 'DELL', 'INTEL', 'LOGITECH'].forEach(brand => { %>
                          <div class="border-2 border-bottom text-left">
                              <input type="checkbox" class="me-2"><label class="h6"><%= brand %></label>
                          </div>
                      <% }) %>
                  </div>
              </div>
          </div>
          <div class="card bg-black text-light py-0">
              <a class="collapsed text-decoration-none" data-bs-toggle="collapse" href="#collapseThree">
                  <div class="card-header border border-success rounded-2 form-select">
                      <h6 class="fw-bold px-3 fcolor">PRICE</h6>
                  </div>
              </a>
              <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
                  <div class="card-body px-3 py-0 my-4">
                      <div class="py-1 text-left">
                          <label class="h6">10K TO 100K</label><br>
                          <input type="range" class="me-5 w-100">
                      </div>
                  </div>
              </div>
          </div>
          <div class="card bg-black text-light py-0">
              <a class="collapsed text-decoration-none" data-bs-toggle="collapse" href="#collapseEdition">
                  <div class="card-header border border-success rounded-2 form-select">
                      <h6 class="fw-bold px-3 fcolor">EDITION</h6>
                  </div>
              </a>
              <div id="collapseEdition" class="collapse show" data-bs-parent="#accordion">
                  <div class="card-body px-3 py-0">
                      <% ['420', '3D', 'Printed', 'Biohazard'].forEach(edition => { %>
                          <div class="border-2 border-bottom py-1 text-left">
                              <input type="checkbox" class="me-2"><label class="h6"><%= edition %></label>
                          </div>
                      <% }) %>
                  </div>
              </div>
          </div>
          <div class="card bg-black text-light py-0">
              <a class="collapsed text-decoration-none" data-bs-toggle="collapse" href="#collapseColor">
                  <div class="card-header border border-success rounded-2 form-select">
                      <h6 class="fw-bold px-3 fcolor">COLOUR</h6>
                  </div>
              </a>
              <div id="collapseColor" class="collapse" data-bs-parent="#accordion">
                  <div class="card-body px-3 py-0">
                      <% ['Red', 'Blue', 'Green', 'Black', 'Purple', 'Silver'].forEach(color => { %>
                          <div class="border-2 border-bottom py-1 text-left">
                              <input type="checkbox" class="me-2"><label class="h6"><%= color %></label>
                          </div>
                      <% }) %>
                  </div>
              </div>
          </div>
          <div class="card bg-black text-light py-0">
              <a class="collapsed text-decoration-none" data-bs-toggle="collapse" href="#collapseStyling">
                  <div class="card-header border border-success rounded-2 form-select">
                      <h6 class="fw-bold px-3 fcolor">STYLING</h6>
                  </div>
              </a>
              <div id="collapseStyling" class="collapse show" data-bs-parent="#accordion">
                  <div class="card-body px-3 py-0">
                      <% ['ATX', 'E-ATX', 'M-ATX', 'M-DTX', 'M-ITX', 'MICRO-ATX'].forEach(styling => { %>
                          <div class="border-2 border-bottom py-1 text-left">
                              <input type="checkbox" class="me-2"><label class="h6"><%= styling %></label>
                          </div>
                      <% }) %>
                  </div>
              </div>
          </div>
          <div class="card bg-black text-light py-0 mb-2">
              <a class="collapsed text-decoration-none" data-bs-toggle="collapse" href="#collapseMemory">
                  <div class="card-header border border-success rounded-2 form-select">
                      <h6 class="fw-bold px-3 fcolor">MEMORY TYPE</h6>
                  </div>
              </a>
              <div id="collapseMemory" class="collapse" data-bs-parent="#accordion">
                  <div class="card-body px-3 py-0">
                      <% ['64-BIT', '128-BIT', '256-BIT', '512-BIT'].forEach(memory => { %>
                          <div class="border-2 border-bottom py-1 text-left">
                              <input type="checkbox" class="me-2"><label class="h6"><%= memory %></label>
                          </div>
                      <% }) %>
                  </div>
              </div>
          </div>
      </div>
  </div>

    <!-- Right Side Product List -->
    <div class="col-lg-8 border border-success rounded-2 bg-black mb-2 l32">
      <div class="row p-4 text-end">
        <div class="col-12">
          Sort By
          <select name="sort" id="sortSelect" class="bg-black fcolor ps-2 out">
            <option value="name-asc">Name (A-Z)</option>
            <option value="name-desc">Name (Z-A)</option>
            <option value="price-desc">Price (High-To-Low)</option>
            <option value="price-asc">Price (Low-To-High)</option>
            <option value="rating-desc">Rating (High-To-Low)</option>
            <option value="rating-asc">Rating (Low-To-High)</option>
          </select>
        </div>
      </div>

      <div class="row text-center" id="productContainer">
        <% for (let i = 0; i < pc.length; i++) { %>
          <div class="card col-lg-4 col-md-6 bg-transparent border-0 pcard">
            <a href="/product/<%= pc[i].product_category.toLowerCase() %>/<%= pc[i].product_id %>" class="text-decoration-none text-light">
              <div id="carouselExampleSlidesOnly<%= i %>" class="carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <% var imgg = pc[i].product_image.split(',') %>
                  <% imgg.forEach((element, index) => { %>
                    <div class="carousel-item <%= index === 0 ? 'active' : '' %>" data-bs-interval="2000">
                      <img src="/static/images/category/product/<%= element %>" class="d-block img-fluid" alt="...">
                    </div>
                  <% }) %>
                </div>
              </div>
              <div class="card-body">
                <p class="card-text"><%= pc[i].product_name %></p>
                <p class="card-text bg-transparent"><span class="text star fs-4"></span></p>
                <p class="card-text fw-bold"> ₹<%= pc[i].product_price %> <del class="text-body">₹<%= pc[i].orignal_price %></del></p>
              </div>
            </a>
          </div>
        <% } %>
      </div>
    </div>
  </div>
</div>

<!-- Related Products Carousel -->
<div class="container text-center my-5">
  <h1 class="fw-bold fcolor py-4 lulu">RELATED PRODUCTS</h1>
  <div class="row mx-auto my-auto justify-content-center">
    <div id="relatedProductsCarousel" class="carousel slide ala" data-bs-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <% for (let i = 0; i < pc.length; i++) { %>
          <div class="carousel-item <%= i === 0 ? 'active' : '' %>" data-bs-interval="2000">
            <div class="col-md-3 lol">
              <a href="/product/<%= pc[i].product_category %>/<%= pc[i].product_id %>" class="text-decoration-none text-light">
                <div class="card bg-transparent border border-0">
                  <div class="card-img">
                    <% var imgg = pc[i].product_image.split(',') %>
                    <img src="/static/images/category/product/<%= imgg[0].trim() %>" alt="" class="img-fluid">
                  </div>
                  <div class="card-body text-light">
                    <h5><%= pc[i].product_name %></h5>
                    <span class="text-light star fs-4"></span>
                    <p class="fw-bold"> ₹<%= pc[i].product_price %> <del class="text-body">₹<%= pc[i].orignal_price %></del></p>
                  </div>
                </div>
              </a>
            </div>
          </div>
        <% } %>
      </div>
      <a class="carousel-control-prev bg-transparent w-aut" href="#relatedProductsCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </a>
      <a class="carousel-control-next bg-transparent w-aut" href="#relatedProductsCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </a>
    </div>
  </div>
</div>








  <script src="/static/js/card_search.js"></script>

















        
<script>let items = document.querySelectorAll('.ala .alla')

  items.forEach((el) => {
    const minPerSlide = 4
    let next = el.nextElementSibling
    for (var i = 1; i < minPerSlide; i++) {
      if (!next) {
        // wrap carousel by using first child
        next = items[0]
      }
      let cloneChild = next.cloneNode(true)
      el.appendChild(cloneChild.children[0])
      next = next.nextElementSibling
    }
  })</script>